# Terraform state files
*.tfstate
*.tfplan
*.tfstate.*
*.terraform.lock.hcl

# Local Terraform directory
.terraform/

# Ignore secret files
*.json

# Compiled Python files
__pycache__/
*.py[cod]

# But not main.tf
!src/cloud/provider.tf
!src/cloud/bigquery_dataset.tf
!src/cloud/bigquery_table.tf